{{> head}}
{{> navbar}}


<div class="row">
<div class="col-sm-8">
    <h1>Texto relleno</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque facilis, eius iure quae accusantium perspiciatis maiores soluta, placeat vitae nostrum modi consequatur iusto a mollitia molestiae cumque veniam adipisci animi.</p>
</div>
<div class="col-sm-4">
    

    <img src="https://fakeimg.pl/300/" alt="..." class="img-thumbnail">
    
</div>
    
</div>


{{> footer}}